<nav>

    <div class="nav-wrapper topnav">

        <a href="/" class="brand-logo center">MongoHW</a>

        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/tglennd90/MongoHW" target="_blank">GitHub</a></li>
        </ul>

    </div>

</nav>